<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstudy7-ServletConfig-ServletContext-inst</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfigServlet</display-name>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>step1.ConfigServlet</servlet-class>
    <init-param>
      <param-name>savePath</param-name>
      <param-value>C:\\kosta203\\count3.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>step2.AdminServlet</servlet-class>
    <init-param>
      <param-name>adminEmail</param-name>
      <param-value>javaking@daum.net</param-value>
    </init-param>
    <init-param>
      <param-name>adminTel</param-name>
      <param-value>01112312444</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>One</display-name>
    <servlet-name>One</servlet-name>
    <servlet-class>step3.One</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>One</servlet-name>
    <url-pattern>/One</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Two</display-name>
    <servlet-name>Two</servlet-name>
    <servlet-class>step4.Two</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Two</servlet-name>
    <url-pattern>/Two</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>192.168.0.109:7777</param-value>
  </context-param>
</web-app>